<div>
<%= form_for(@producto) do |p| %>  
	<div> 
		<%= p.label :form %><br> 
		<p>Name: <%= p.text_field :name %></p>
		<p>Description: <%= p.text_area :description %><br></p> 
		<p>Price: <%= p.text_field :price %></p> 
		<%= p.select :marca_id, @marcas.all.collect {|m| [m.name, m.id] } %>
	</div> 
	<div> 
		<%= p.submit "update" %> 
	</div> 
	<% end %>
</div>