<table id="tablas", style="width:100%">
  <tr>
    <th>Product name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Brand</th>
    <th>Actions</th>
  </tr>
  <% @productos.each do |p| %>
    <tr>
      <td><%=p.name%></td>
      <td><%=p.description%></td>
      <td><%=p.price%></td>
      <td><%=p.marca_id%></td>
      <td><%= link_to "Delete", producto_path(p), :confirm => "Are you sure?", :method => :delete %>
        <%= link_to "Edit", edit_producto_path(p) %>
      </td>
    </tr>
  <% end %>

</table>
<p> </p>
<div><%= link_to 'New product', "productos/new" %></div>